<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <title>Index Page</title>
  </head>
  <body>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.6.3.js"></script>
    <script src="js/jquery-3.6.3.min.js"></script>

    <h1>
      ProLoT Software Systems Pvt. Ltd. <br />
      <span style="color: red"> Error Page...! </span>
    </h1>
    <hr />

    <!-- Navigation Bar -->
    <ul class="nav border border-danger col-sm-3">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/proj">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link-1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link-2</a>
      </li>
      <li class="nav-item">
        a
          class="nav-link"
          href="/loginform"
          tabindex="-1"
          aria-disabled="false"> Sign-In 
      </li>
    </ul>
    <hr />
    <div class="align-middle">
      h7
        <span class="align-middle">Error</span>
        <ul>
          li Error : #{errorData}
          <li>Database Connection Error.</li>
          <li>Password & Re-Type Password Not Matched.</li>
          <li>User-ID Already Exist.</li>
          <li>Invalid Email-ID.</li>
          <li>Wrong Mobile No. Length (10 Digits Must).</li>
        </ul>
      h7
    </div>
    <!--  -->
  </body>
</html>
